{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-toggle.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container" style="background-color: rgba(208, 208, 208, 0.51); padding-top: 50px">
        <h1>Modificar Punto Turistico</h1>

        {{ form_start(edit_form) }}


        <div class="form-group row">
            {{ form_label(edit_form.nombre, 'Nombre', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(edit_form.nombre) }}
            <div class="col-xs-10">
                {{ form_widget(edit_form.nombre, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(edit_form.descripcion, 'Descripción', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(edit_form.descripcion) }}
            <div class="col-xs-10">
                {{ form_widget(edit_form.descripcion, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(edit_form.nombrePresidente, 'Presidente', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(edit_form.nombrePresidente) }}
            <div class="col-xs-10">
                {{ form_widget(edit_form.nombrePresidente, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(edit_form.fechaFundacion, 'Fundado en ', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(edit_form.fechaFundacion) }}
            <div class="col-xs-10">
                {{ form_widget(edit_form.fechaFundacion, {'attr': {'class': 'form-control date'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(edit_form.historia, 'Historia', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(edit_form.historia) }}
            <div class="col-xs-10">
                {{ form_widget(edit_form.historia, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(edit_form.nombreCentroEducativo, 'Institución Educativa', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(edit_form.nombreCentroEducativo) }}
            <div class="col-xs-10">
                {{ form_widget(edit_form.nombreCentroEducativo, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(edit_form.lugarCultural, 'Lugar Cultural', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(edit_form.lugarCultural) }}
            <div class="col-xs-10">
                {{ form_widget(edit_form.lugarCultural, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(edit_form.actosCulturales, 'Actos Culturales', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(edit_form.actosCulturales) }}
            <div class="col-xs-10">
                {{ form_widget(edit_form.actosCulturales, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(edit_form.delimitacionGeografica, 'Limites', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(edit_form.delimitacionGeografica) }}
            <div class="col-xs-10">
                {{ form_widget(edit_form.delimitacionGeografica, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(edit_form.habitantes, 'Habitantes', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(edit_form.habitantes) }}
            <div class="col-xs-10">
                {{ form_widget(edit_form.habitantes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(edit_form.ruta, 'Descripcion Ruta', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(edit_form.ruta) }}
            <div class="col-xs-10">
                {{ form_widget(edit_form.ruta, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(edit_form.isRural, 'Area Rural', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(edit_form.isRural) }}
            <div class="col-xs-10">
                {{ form_widget(edit_form.isRural, {'attr': {'class': 'form-control toggle'}}) }}
            </div>
        </div>
        <ul>
            <li>
                <input class="btn btn-success" type="submit" value="Guardar"/>
            </li>
        </ul>
        {{ form_end(edit_form) }}

        <ul>
            <li>
                <a class="btn btn-info" href="{{ path('admin_punto_index') }}">Back to the list</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- JQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-toggle.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>

    <script>
        $(function () {
            $('.toggle').bootstrapToggle({
                on: 'Sí',
                off: 'No',
                onstyle: 'success',
            });
        });
        $(function () {
            $(".date").datepicker({dateFormat: "yy-mm-dd"});

        });
    </script>

{% endblock %}
