{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-toggle.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery.dataTables.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container" style="background-color: rgba(208, 208, 208, 0.51); margin-top: 50px">
        <h1>Puntos Turisticos</h1>

        <table id="tablePoints" class="table table-striped table-sm">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Presidente</th>
                <th>Fecha de Fundación</th>
                <th>Centro Educativo</th>
                <th>Habitantes</th>
                <th>Rural</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for punto in puntos %}
                <tr>
                    <td>
                        <a href="{{ path('admin_punto_show', { 'id': punto.id }) }}">{{ punto.id }}</a>
                    </td>
                    <td>{{ punto.nombre }}</td>
                    <td>{{ punto.descripcion }}</td>
                    <td>{{ punto.nombrePresidente }}</td>
                    <td>{% if punto.fechaFundacion %}{{ punto.fechaFundacion|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ punto.nombreCentroEducativo }}</td>
                    <td>{{ punto.habitantes }}</td>
                    <td>{% if punto.isRural %}Si{% else %}No{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('admin_punto_show', { 'id': punto.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_punto_edit', { 'id': punto.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a class="btn btn-success" href="{{ path('admin_punto_new') }}">Nuevo</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- JQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-toggle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dataTables.bootstrap4.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tablePoints').DataTable();
        });

        $(function () {
            $('.toggle').bootstrapToggle({
                on: 'Sí',
                off: 'No',
                onstyle: 'success',
            });
        });
        $(function () {
            $(".date").datepicker({dateFormat: "yy-mm-dd"});

        });
    </script>
{% endblock %}
