{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-toggle.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container" style="background-color: rgba(208, 208, 208, 0.51); padding-top: 50px">

        <h1>Registro de Puntos Turisticos</h1>
        <br style="clear: both">
        <br style="clear: both">
        {{ form_start(form) }}

        <div class="form-group row">
            {{ form_label(form.nombre, 'Nombre', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(form.nombre) }}
            <div class="col-xs-10">
                {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(form.descripcion, 'Descripción', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(form.descripcion) }}
            <div class="col-xs-10">
                {{ form_widget(form.descripcion, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(form.nombrePresidente, 'Presidente', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(form.nombrePresidente) }}
            <div class="col-xs-10">
                {{ form_widget(form.nombrePresidente, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(form.fechaFundacion, 'Fundado en ', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(form.fechaFundacion) }}
            <div class="col-xs-10">
                {{ form_widget(form.fechaFundacion, {'attr': {'class': 'form-control date'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(form.historia, 'Historia', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(form.historia) }}
            <div class="col-xs-10">
                {{ form_widget(form.historia, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(form.nombreCentroEducativo, 'Institución Educativa', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(form.nombreCentroEducativo) }}
            <div class="col-xs-10">
                {{ form_widget(form.nombreCentroEducativo, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(form.lugarCultural, 'Lugar Cultural', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(form.lugarCultural) }}
            <div class="col-xs-10">
                {{ form_widget(form.lugarCultural, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(form.actosCulturales, 'Actos Culturales', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(form.actosCulturales) }}
            <div class="col-xs-10">
                {{ form_widget(form.actosCulturales, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(form.delimitacionGeografica, 'Limites', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(form.delimitacionGeografica) }}
            <div class="col-xs-10">
                {{ form_widget(form.delimitacionGeografica, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(form.habitantes, 'Habitantes', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(form.habitantes) }}
            <div class="col-xs-10">
                {{ form_widget(form.habitantes, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(form.ruta, 'Descripcion Ruta', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(form.ruta) }}
            <div class="col-xs-10">
                {{ form_widget(form.ruta, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.isRural, 'Area Rural', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(form.isRural) }}
            <div class="col-xs-10">
                {{ form_widget(form.isRural, {'attr': {'class': 'form-control toggle'}}) }}
            </div>
        </div>


        <div class="card-action">
            <input class="btn btn-success" type="submit" value="Create"/>
            {#<button type="submit" id="punto_addImage" name="punto[addImage]" class="btn btn-info">Agregar Imagen</button>#}
            {{ form_end(form) }}


            <a class="btn btn-info" href="{{ path('admin_punto_index') }}">Lista</a>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <!-- JQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-toggle.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>

    <script>
        $(function () {
            $('.toggle').bootstrapToggle({
                on: 'Sí',
                off: 'No',
                onstyle: 'success',
            });
        });
        $(function () {
            $(".date").datepicker({dateFormat: "yy-mm-dd"});

        });
    </script>

{% endblock %}
