{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html">
    <link href="{{ asset('css/bootstrap-toggle.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/blueimp-gallery.css') }}">
    <link rel="stylesheet" href="{{ asset('css/blueimp-gallery-indicator.css') }}">
    {#<link rel="stylesheet" href="{{ asset('css/blueimp-gallery-video.css') }}">#}
    <link rel="stylesheet" href="{{ asset('css/demo.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container" style="background-color: rgba(208, 208, 208, 0.51); margin-top: 50px">
        <h1>Punto</h1>

        <table class="table  table-sm">
            <tbody>
            <tr>
                <th>ID</th>
                <td>{{ punto.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ punto.nombre }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ punto.descripcion }}</td>
            </tr>
            <tr>
                <th>Presidente</th>
                <td>{{ punto.nombrePresidente }}</td>
            </tr>
            <tr>
                <th>Fundada en</th>
                <td>{% if punto.fechaFundacion %}{{ punto.fechaFundacion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Historia</th>
                <td>{{ punto.historia }}</td>
            </tr>
            <tr>
                <th>Centro Educativo</th>
                <td>{{ punto.nombreCentroEducativo }}</td>
            </tr>
            <tr>
                <th>Lugar Cultural</th>
                <td>{{ punto.lugarCultural }}</td>
            </tr>
            <tr>
                <th>Actos Culturales</th>
                <td>{{ punto.actosCulturales }}</td>
            </tr>
            <tr>
                <th>Limites</th>
                <td>{{ punto.delimitacionGeografica }}</td>
            </tr>
            <tr>
                <th>Habitantes</th>
                <td>{{ punto.habitantes }}</td>
            </tr>
            <tr>
                <th>Ruta</th>
                <td>{{ punto.ruta }}</td>
            </tr>
            <tr>
                <th>Rural</th>
                <td>{% if punto.isRural %}Si{% else %}No{% endif %}</td>
            </tr>
            </tbody>
        </table>
        <h2>Fotos</h2>

        <div id="links" class="links">
            {% for foto in punto.fotos %}
                <a href="{{ asset('uploads/fotos/' ~ foto.imagen ) }}" title="{{ foto.imagen }}">
                    <img width="0px" height="0px" src="{{ asset('uploads/fotos/'~ foto.imagen) }}"
                         title="{{ foto.imagen }}">
                </a>
            {% endfor %}
        </div>

        <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>

        <ul>
            <li>
                <a class="btn btn-success" href="{{ path('admin_punto_index') }}">Back to the
                    list</a>
            </li>
            <li>
                <a class="btn btn-info" href="{{ path('admin_punto_edit', { 'id': punto.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- JQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-toggle.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>

    <script src="{{ asset('js/blueimp-helper.js') }}"></script>
    <script src="{{ asset('js/blueimp-gallery.js') }}"></script>
    <script src="{{ asset('js/blueimp-gallery-fullscreen.js') }}"></script>
    <script src="{{ asset('js/blueimp-gallery-indicator.js') }}"></script>
    <script src="{{ asset('js/jquery.blueimp-gallery.js') }}"></script>
    {#<script src="{{ asset('js/demo.js') }}"></script>#}

    <script>
            blueimp.Gallery(
                    document.getElementById('links').getElementsByTagName('a'),
                    {
                        container: '#blueimp-gallery-carousel',
                        carousel: true
                    }
            );


    </script>


{% endblock %}
