<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %}La Abuela de Caldas{% endblock %}</title>
    {% block stylesheets %}
        <!-- Font Awesome -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Material Design Bootstrap -->
        <link href="{{ asset('css/mdb.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {% endblock %}


</head>

<body>

<!--Navbar-->
<nav class="navbar navbar-dark navbar-fixed-top scrolling-navbar">
    <a class="btn btn-flat" style="float: left" href="javascript:history.back()">Atras</a>
    <!-- Collapse button-->
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse"
            data-target="#collapseEx">
        <i class="fa fa-bars"></i>
    </button>

    <div class="container">


        <!--Collapse content-->
        <div class="collapse navbar-toggleable-xs" id="collapseEx">
            <!--Navbar Brand-->
            <a class="navbar-brand" href="{{ path('turismo_turismo_default_index') }}">La Abuela de Caldas</a>
            <!--Links-->
            <ul class="nav navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('turismo_turismo_default_viewall') }}">Rutas </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('turismo_turismo_default_cultura') }}">Cultura</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('turismo_turismo_default_history') }}">Historia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('turismo_turismo_default_naturaleza') }}">Naturaleza</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('turismo_turismo_default_viewallevents') }}">Eventos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.anserma-caldas.gov.co">Anserma</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('turismo_turismo_default_home') }}">Iniciar Sesion</a>
                </li>
            </ul>
        </div>
        <!--/.Collapse content-->

    </div>

</nav>
<!--/.Navbar-->
{% block body %}
<!--Carousel Wrapper-->
<div id="carousel-example-1" class="carousel slide carousel-fade" data-ride="carousel"
     data-interval="false">
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-1" data-slide-to="1"></li>
        <li data-target="#carousel-example-1" data-slide-to="2"></li>
        <li data-target="#carousel-example-1" data-slide-to="3"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        {% if puntos is not null %}
            {% set var = 0 %}
            {% for punto in puntos %}
                {% set var = var + 1 %}

                <!--First slide-->
                {% if  var <= 4 %}
                    <div class="carousel-item {{ (var  == 1) ? 'active':'' }} ">
                    <!--Mask-->
                    <div class="view hm-black-light">
                        <div class="full-bg-img flex-center">
                            <ul class="animated fadeInUp col-md-12">
                                <li>
                                    <h1 class="h1-responsive flex-item">{{ punto.nombre }}</h1>
                                <li>
                                    <p class="flex-item">{{ punto.descripcion }}</p>
                                </li>
                                <li>
                                    <a target="_blank"
                                       href="{{ path('turismo_turismo_default_view', { 'id': punto.id }) }}"
                                       class="btn btn-default btn-lg flex-item">Ver</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
                <!--/.Mask-->
                </div>
            {% endfor %}
        {% endif %}
        <!--Controls-->
        <a class="left carousel-control" href="#carousel-example-1" role="button"
           data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-1" role="button"
           data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
    <!--/.Main layout-->

    {% endblock %}
    <!--Footer-->
    <footer class="page-footer center-on-small-only">

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2016 Copyright: <a href="mailto:mab.988@gmail.com" title="mab.988@gmail.com"> Miguel Angel Bustamante </a>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->


    <!-- SCRIPTS -->
    {% block javascripts %}
        <!-- JQuery -->
        <script type="text/javascript" src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>

        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="{{ asset('js/tether.min.js') }}"></script>

        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="{{ asset('js/mdb.min.js') }}"></script>



    {% endblock %}
</body>

</html>
