{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html">
    <link href="{{ asset('css/bootstrap-toggle.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/blueimp-gallery.css') }}">
    <link rel="stylesheet" href="{{ asset('css/blueimp-gallery-indicator.css') }}">
    {#<link rel="stylesheet" href="{{ asset('css/blueimp-gallery-video.css') }}">#}
    <link rel="stylesheet" href="{{ asset('css/demo.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block title %}Cultura{% endblock %}

{% block body %}
    <div class="container" style="background-color: rgba(208, 208, 208, 0.51); margin-top: 70px">
        <h1>Cultura</h1>
        <br>
        <br>
        <div class="col-lg-10 offset-lg-1">
            <img src="{{ asset('img/puntos/anserma5.jpg') }}">
        </div>
        <div class="col-lg-10 offset-lg-1">
            <p style="text-align: justify">
                Anserma es muy popular por sus fiestas y eventos, entre los cuales se encuentran:
                Las Fiestas del Regreso, La Fiestas de la Virgen del Carmen, La Semana Santa, El
                Festival de Teatro "TEAN", El encuentro Regional de Danzas, La Feria Agroindustrial,
                La Feria del Tendero y Las Fiestas de San Pedro
            </p>
        </div>
        <h1>Música</h1>
        <div class="col-lg-10 offset-lg-1">
            <img src="{{ asset('img/puntos/anserma13.jpg') }}">
        </div>
        <div class="col-lg-10 offset-lg-1">
            <p style="text-align: justify">
                Banda Sinfonica de Anserma 2014Parque Principal Aguadas Caldas
                la banda juvenil de Anserma, o Banda Sinfónica de Anserma "BSAnserma" fue fundada el
                22 de mayo de 1983, bajo la dirección del Maestro licenciado Jairo Alfonso Machado
                Pareja (maestro actual), este maestro egresado del conservatorio de Música del
                Tolima, tuvo la misión de conformar una agrupación que fuese representante de la
                cultura Ansermeña, en donde la juventud tuviera un lugar de esparcimiento y sana
                diversión.
                Durante sus 33 años de trayectoria musical ha representado al municipio y al
                departamento en los distintos certámenes de carácter departamental y nacional, la
                integran niños de 6 a 17 años y hace parte el Programa Departamental de Bandas
                Estudiantiles de Música de Caldas de la Gobernación departamental.
                Además de representar al municipio en los diferentes certámenes musicales que se
                realizan en el país, la banda es la encargada de animar algunos eventos en el
                municipio como las Fiestas del Regreso, las Fiestas de la Institución Educativa de
                Occidente, el Festival de Teatro TEAN, la Semana Santa y diferentes eventos a los
                que es convocada.

            </p>
        </div>
        <h1>Religión</h1>
        <div class="col-lg-10 offset-lg-1">

            {% set fotos = ['anserma11.jpg','iglesia.jpg','iglesia1.jpg','iglesia2.jpg','iglesia3.jpg','iglesia4.jpg','iglesia5.jpg',
            'iglesia6.jpg','iglesia7.jpg','iglesia9.jpg'] %}
            <div id="links" class="links">
                {% for foto in fotos %}
                    <a href="{{ asset('img/puntos/' ~ foto ) }}" title="{{ foto }}">
                        <img width="0px" height="0px" src="{{ asset('img/puntos/'~ foto) }}"
                             title="{{ foto }}">
                    </a>
                {% endfor %}
            </div>

            <div id="blueimp-gallery-carousel"
                 class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls">
                <div class="slides"></div>
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
            </div>
        </div>
        <div class="col-lg-10 offset-lg-1">
            <p style="text-align: justify">
                Respetuosos de las libertades religiosas, existen en el municipio diferentes centros
                religiosos para los dogmas presentes en el municipio entre los que se encuentran la
                Iglesia de Dios Ministerial de Jesucristo Internacional, la Iglesia Nuestra Señora
                del Carmen, la Iglesia de Santa Barbara, la Capilla del Divino Niño, la Iglesia
                Testigos de Jehová, la Iglesia Cristiana Centro de Fe y Esperanza, entre otras.

            </p>
        </div>
        <h1>Lugares de Esparcimiento</h1>
        <div class="col-lg-10 offset-lg-1">
            <img src="{{ asset('img/puntos/16.jpeg') }}">
        </div>
        <div class="col-lg-10 offset-lg-1">
            <p style="text-align: justify">
                Anserma, cuenta con múltiples lugares de esparcimiento para cada gusto. Algunos son:
                Parque Arango Zea, Plaza Mariscal Jorge Robledo, Parque Bolivar, Parque Infantil,
                Unidad Deportiva de Anserma (Estadio, Coliseo, Canchas de Fútbol, Microfutbol y
                Baloncesto, Parque de Bicicletas), Cancha de Galicia y Cancha de Cristo Rey. Anserma
                cuenta también con Biblioteca Pública y un Terminal de Transportes con rutas de
                buses para las ciudades de Manizales, Pereira, Medellín, Cali, Bogotá y otras
                ciudades de Colombia.

            </p>
        </div>


    </div>
{% endblock %}
{% block javascripts %}
    <!-- JQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-toggle.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>

    <script src="{{ asset('js/blueimp-helper.js') }}"></script>
    <script src="{{ asset('js/blueimp-gallery.js') }}"></script>
    <script src="{{ asset('js/blueimp-gallery-fullscreen.js') }}"></script>
    <script src="{{ asset('js/blueimp-gallery-indicator.js') }}"></script>
    <script src="{{ asset('js/jquery.blueimp-gallery.js') }}"></script>
    {#<script src="{{ asset('js/demo.js') }}"></script>#}

    <script>
        blueimp.Gallery(
                document.getElementById('links').getElementsByTagName('a'),
                {
                    container: '#blueimp-gallery-carousel',
                    carousel: true
                }
        );


    </script>


{% endblock %}
