{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="background-color: rgba(208, 208, 208, 0.51); margin-bottom: 50px">
        <div class=""
             style="background-color: rgba(208, 208, 208, 0.51); text-align: center; padding-top: 50px">
            <h1>Anserma Turistica</h1>
        </div>
        <style>
            img {
                margin: auto !important;
                max-height: 300px;
            }

            strong {
                margin: auto;
                text-align: center;
                align-content: center;
            }

            h2 {
                margin: auto;
            }
        </style>

        <span style="text-align: center"><h2>Bandera</h2></span>
        <div class="foto" style="margin: auto">
            <img class="img-fluid center" src="{{ asset('img/bandera_anserma.jpg') }}"
                 title="bandera">
        </div>
        <br>
        <div class="col-lg-10 offset-lg-1">
            <p style="text-align: justify">La Bandera de Santa Ana de los Caballeros, hoy ciudad de
                Anserma, consta de dos fajas horizontales. La de encima de color blanco, que
                recuerda la
                paz reinante y la armonía en que viven sus habitantes; la faja inferior está
                dividida en
                cinco fajas verticales: Tres de color amarillo distribuidas una en cada extremo y la
                tercera en el centro, cuyo color significa la mucha riqueza en oro que hay en esta
                tierra; las otras dos fajas de color rojo van intercaladas entre las amarillas, y
                significan la sangre derramada por los colonos pobladores y cultivadores de esta muy
                ilustre comarca”. </p>
        </div>
        <br style="clear: both">
        <hr>
        <span style="text-align: center"><h2>Escudo</h2></span>
        <div class="foto" style="margin: auto">
            <img class="img-fluid center" src="{{ asset('img/escudo2821_5.jpg') }}" title="escudo">
        </div>
        <br>
        <div class="col-lg-10 offset-lg-1">
            <p style="text-align: justify">Con unas aguas azules e blancas en campo verde, y en el
                cuarto bajo el león rampante de oro en campo azul, en memoria de aquel cacique que
                prendistes, e por orla ocho murciélagos pardos que tiran a negros, con las bocas
                abiertas e dientes agudos en campo de oro, y por timbre un yelmo cerrado, e por
                divisa
                un águila negra real, rampante, abiertas las alas con sus tres coles o dependencias
                o
                follahes de oro y azul y colorado, o como la vuestra merced fuese.... dada en
                valladolid
                a 7 de febrero de 1.545. </p>
        </div>
        <br style="clear: both">
        <hr>
        <span style="text-align: center"><h2>Himno</h2></span>
        <div class="foto" style="margin: auto">
            <img class="img-fluid center" src="{{ asset('img/mezcla.jpg') }}" title="himno">
        </div>
        <br>
        <div class="col-lg-10 offset-lg-1">
            <p style="text-align: justify">
                Tanto la letra como la música de este himno fueron compuestas por el Ansermeño
                Arturo
                Restrepo González,
                autor a la vez de una historia de la ciudad,
                reconocido como himno oficial de Anserma a partir de 1990.
            </p>
            <strong>CORO</strong>
            <p> Por el valle corre un río y llorando van sus aguas,
                porque ha dejado allá lejos la hermosa ciudad hidalga.
                Cuán alegre canto un himno con palabras de alabanza
                a mi tierra que clavada está sobre la montaña</p>
            <strong>I</strong>
            <p> Aquí Ocuzca el gran guerrero murió en épocas lejanas,
                porque al tirano no quiso rendir sumiso las armas.</p>
            <strong>II</strong>
            <p> Con respeto voy pisando tus praderas centenarias;
                ellas oyeron las voces de las abuelas hidalgas</p>
            <strong>III</strong>
            <p>Cuánto amamos patria chica tus señoriales leyendas
                que traen reminiscencias de tus grandezas pasadas.</p>
            <strong>IV</strong>
            <p>Quiero morir en tus lares oyendo el dulce susurro del viento
                que en tus cabañas tiene olor a limonares
            </p>
        </div>
        <br style="clear: both">

        <h2>SANTA ANA DE LOS CABALLEROS</h2>
        <div class="col-lg-12">
            <div class="col-lg-6 offset-lg-3">
                <img src="{{ asset('img/3MyqcI.jpg') }}">
            </div>
            <div class="col-lg-4 offset-lg-1">
                <img src="{{ asset('img/haeqLS.jpg') }}">
            </div>
            <div class="col-lg-4 ">
                <img src="{{ asset('img/UlUUbw.jpg') }}">
            </div>
        </div>
        <br style="clear: both">
        <br style="clear: both">
        <br style="clear: both">
        <div class="col-lg-10 offset-lg-1">
            <p style="text-align: justify">
                Santana de los Caballeros, fue fundada por el Mariscal Jorge Robledo el 15 de Agosto
                1539.
                Se encuentra ubicada al occidente del Departamento de Caldas 1770 metros de altura
                sobre
                del
                nivel del mar, con una población de 34,000 habitantes. Es llamada la "Abuela de
                Caldas"
                y en
                ella se celebró la primera misa en el Departamento de Caldas.
            </p>
        </div>
        <br style="clear: both">
        <span style="text-align: center"><h2>RESEÑA HISTORICA</h2></span>
        <br style="clear: both">
        <div class="foto" style="margin: auto; text-align: center">
            <img src="{{ asset('img/reseña.jpg') }}">
        </div>
        <br style="clear: both">
        <div class="col-lg-10 offset-lg-1">
            <p style="text-align: justify">
                En la reseña histórica sobre la fundación de Anserma escrita por el Historiador
                Rubén
                Darío Usma Porras, miembro de la Academia de Historia de Caldas, nos dice: "Estando
                Belalcázar encargado de la provenía de Popayán , es visitado por el capitán Lorenzo
                de
                Aldana y con poder concedido por el Márquez Francisco Pizarro de cuya gobernación
                era
                dicha ciudad, proveyó a Jorge Robledo de Capitán a teniente de gobernador, y a la
                vez,
                le ordenó fuese a las provincias de Umbra (Anserma) a conquistarla, pacificarla y a
                poblar una ciudad y fue así como, el viernes 14 de Julio de 1539 sale de Santiago de
                Cali con cien hombres bien equipados, caballos indios colaboradores y varios perros
                adiestrados para la cacería de indígenas y pasando por los pueblos de los naturales
                de
                viges, Gorrones y Palomino, desde el territorio de los "Sopingas" se encamina hacia
                el
                norte del valle de Risaralda y llegando a un punto denominado "Guarna", manda a uno
                de
                sus ayudantes a buscar un sitio apropiado para fundar una Ciudad, quienes en su
                misión
                se encontraron con unos Españoles que venían desde Cartagena en persecución de Juan
                Vadillo y a los cuales Robledo les comunicó por intermedio de su capitán Vanegas,
                que
                las tierras que pisaban pertenecían a la Gobernación de Popayán y para confirmar lo
                expresado se apresuró a "fundar en forma provisional en el punto de Guarna", como
                demostración de existencia de población y presencia en tierra conquistada, aunque
                sólo
                se trataba de un improvisado rancho, pero con la debida ceremonia y solemnidad. Hizo
                cortar un árbol, clavó un madero en la tierra, diciendo que allí fundaba una ciudad
                en
                nombre de los soberanos de España y según los cronistas que lo acompañaban, terminó
                la
                ceremonia dándole cuchilladas al madero y diciendo: -que esa sería la picota donde
                se
                ejecutaría la justicia del Rey, luego tomó dos varas y las entregó a Melchor Suer de
                Navas y a Martín de Amoroto en señal que los nombraría primeras autoridades de la
                nueva
                población y del acto se dejó constancia escrita un 15 de Agosto de 1539".

                La fundación en "Guarna" fue efímera y no permitió siquiera vestigios de caserío o
                poblamiento, ya que Robledo y en la necesidad de acercarse más a los pueblos
                indígenas
                de los Ancermas (clip), muy pronto traslado la fundación a un vecino sector, los
                cronistas españoles Fray Pedro Simón, Lucas Fernández de Piedrahita, Cieza de León
                coinciden en la localización topográfica de la fundación y en especial el testimonio
                del
                mismo conquistador Jorge Robledo."Los pueblos que hay alrededor de Santana de los
                Indios" ( otro nombre para Anserma) que están en la provincia de umbra, y la cual se
                dice Anserma, porque cuando la primera vez que entramos a ella con el Capitán
                Belalcázar
                ( prueba de que antes de la fundación, ya había recorrido Robledo con Belalcázar la
                región y por eso la tenían identificada con nombre a las provincias y los pueblos
                indígenas que la poblaban) entramos con lenguas y con muy gran falta de sal, é
                cuando se
                tomaba algún indio le preguntábamos por señal por sal, a los cual ellos en su lengua
                nombran sal Ancer é por ese vocablo, como no aprendimos otro, lo llamamos Anserma,
                que
                es su natural nombre de la provincia de Humbra. Los cronistas difieren del primer
                nombre
                que Robledo le asigno a la nueva fundación y de allí que aparezca con varias
                designaciones; San Juan, Santa Ana, Santa Martha o Santa María de los Caballeros
                siendo
                el de Santa María el que se presenta en la mayoría de los documentos allegados al
                Concejo de Indias. Dice finalmente el historiador Usma Porras, "el nombre de Anserma
                fue
                asignado por el conquistador y sus cronistas a toda la provincia con fundamento en
                que
                los primitivos decían "Ancer" por la abundancia de salados existentes en la región".
                Este vocablo "Ancer" es de la Lengua umbra (ver libro clip) recientemente
                descubierta,
                año 2010, por el Endolinguista-antropolinguista y profesor Emérito Guillermo Rendón.
                Recientemente circula un libro digital de Rubén Dario Usma de memoria histórica
                (tradición oral y costumbres). Los cronistas del descubrimiento y conquista
                intitulado
                "Lo Tipico de la colonización antioqueña" (clip),

                Muchos aseguran, que cada historiador establece sus propios paradigmas para
                interpretar
                los hechos que constituyen o conforman los relatos históricos, dentro de esta
                hermeusis,
                en la actualidad existen testimonios muy cercano a la realidad de hace ya quinientos
                años. La fidelidad de los escritos es relativa: es bueno consultar recientes
                estudios
                como los de LUIS JAVIER CAICEDO (Clip), mucha imaginación del amanuense, o demasiada
                parcialidad, o descuidos imperdonables. Lo cierto es que su trabajo es lo único que
                nos
                queda, fuera de los documentos oficiales que la gran mayoría de las veces fueron
                redactados por ellos mismos. Frente a éste hecho, los apuntes de los cronistas, son
                la
                verdad revelada en esto de la historia americana.

                El itinerario de los conquistadores está perfectamente descrito por los ya citados
                cronistas. Desde su salida de España, y hasta la llegada de lo que hoy es Popayán,
                que
                ostentó el título de Gobernación. Juan de Castellanos en si libro "Elegías de
                varones
                ilustres de indias" (clip). poema escrito en versos endecasílabos de octavas reales,
                relatan poéticamente muchos de estas crónicas.
            </p>
        </div>
        <br style="clear: both">
        <br style="clear: both">
        <span style="text-align: center"><h2>CONQUISTADOR ROBLEDO</h2></span>
        <br style="clear: both">
        <div class="foto" style="margin: auto; text-align: center">
            <img src="{{ asset('img/robledo.jpg') }}">
        </div>
        <br style="clear: both">
        <div class="col-lg-10 offset-lg-1">
            <p style="text-align: justify">
                En la enciclopedia de Colombia del Círculo de lectores Diana Luz (Clic aquí) nos
                habla
                de Robledo como: "Conquistador español, nacido probablemente en Ubeda, muerto en
                Loma de
                Pozo, Caldas, 1546. A1 parecer de familia noble, sólo se encuentran referencias
                precisas
                de Jorge Robledo desde el momento en que auxilió a Francisco Pizarro, cuando se
                disponía
                a salir para Cajamarca (Perú). Participó con el ejército de Sebastián de Belalcázar
                en
                la conquista del Perú, de donde pasó al sur de la actual Colombia y a Cali; donde el
                gobernador Lorenzo de Aldana le dio orden de explorar la provincia de Anserma.
                Acarreó
                sus abastecimientos en canoas por el río Cauca. Fundó, en 1539, en el valle de
                Umbrá,
                sobre una colina, la Villa de Santa Ana de los Caballeros, después llamada Anserma.
                Hizo
                los repartos de indios, por orden de Aldana, después de la fundación, que se
                esperaba
                fuera importante por la riqueza de sus minas; pero por su ubicación y por lo poco
                amigable de sus moradores, se la trasladó diez leguas al norte con el nombre de
                Anserma
                Nuevo, quedando la antigua con la denominación de Anserma Viejo. Desde allí empezó
                su
                campaña: envió al capitán Melchor Suer de Nava a Caramanta; Robledo se dirigió hacia
                donde el cacique Ocusca, quien intentaba atacar Anserma; después de pacificarlo,
                envió a
                Ruy Vanegas a reducir a los indios pirzas y sopías, y al capitán Gómez Hernández al
                Chocó. Sin embargo, estas incursiones no rindieron frutos. Robledo pasó el río Cauca
                por
                Irra y sometió a los indios carrapas (ubicados en Filadelfia, Neira, Aranzazu y
                Tapias)
                y picaras. Peleó con los indios pozos, cuyo cacique Pirameque resultó herido; al
                vencerlo, siguió hacia Pácora, donde combatió con los paucuras y su cacique Pimaná.
                Pasó
                a Arma, donde venció la fuerte resistencia de los indios que guerreaban, ellos y sus
                banderas, enjaezados con piezas de oro. Robledo llevaba sabuesos en sus correrías,
                lo
                que lo hacía más temible. Se encaminó hacia Quimbaya con Suer de Nava, y el 9 de
                agosto
                de 1540 fundó San Jorge de Cartago. Buscó la aprobación de Pascual de Andagoya,
                quien,
                para afianzarla, le ofreció a su cuñada como esposa, matrimonio que no se realizó
                por el
                deceso de la mujer. Como gobernador de Popayán, Robledo salió para Cali a reconocer
                a
                Belalcázar como gobernador de Cali, pero éste había enviado a Pedro de Ayala a
                llevar la
                real cédula que refrendaba el nombramiento de Robledo en el gobierno de Popayán, y
                en la
                que se le pedía que cambiara el nombre de San Jorge por el de Santa Ana. Las
                relaciones
                de Robledo y Belalcázar no eran muy buenas; a pesar de ello, el primero le escribió
                manifestando su respeto y obediencia, a lo cual respondió Belalcázar con apoyo y
                auxilios para su campaña.
            </p>
        </div>
        <br style="clear: both">
    </div>

{% endblock %}
