{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container " style="background-color: rgba(208, 208, 208, 0.51); padding-top: 50px">
        <h1>Panel Principal</h1>
        <hr>
        <hr>
        <a href="{{ path('admin_punto_index') }}" class="btn btn-primary btn-lg active"
           role="button" aria-pressed="true">Puntos Turisticos</a>
        <a href="{{ path('admin_evento_index') }}" class="btn btn-primary btn-lg active"
           role="button" aria-pressed="true">Eventos</a>
        <a href="{{ path('admin_foto_index') }}" class="btn btn-primary btn-lg active" role="button"
           aria-pressed="true">Fotos Puntos Turisticos </a>
        <a href="{{ path('admin_fotoevento_index') }}" class="btn btn-primary btn-lg active"
           role="button" aria-pressed="true">Fotos Eventos</a>

        <br>
        <br>

    </div>
{% endblock %}

{% block javascripts %}
    <!-- JQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>

{% endblock %}
