{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html">
    <link href="{{ asset('css/bootstrap-toggle.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/blueimp-gallery.css') }}">
    <link rel="stylesheet" href="{{ asset('css/blueimp-gallery-indicator.css') }}">
    {#<link rel="stylesheet" href="{{ asset('css/blueimp-gallery-video.css') }}">#}
    <link rel="stylesheet" href="{{ asset('css/demo.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block title %}Cultura{% endblock %}

{% block body %}
    <div class="container" style="background-color: rgba(208, 208, 208, 0.51); margin-top: 70px">
        <h1>Naturaleza</h1>
        <div class="col-lg-10 offset-lg-1">
            <div id="links" class="links">
                {% for foto in fotos %}
                    <a href="{{ asset('uploads/fotos/' ~ foto.imagen ) }}" title="{{ foto.imagen }}">
                        <img width="0px" height="0px" src="{{ asset('uploads/fotos/'~ foto.imagen) }}"
                             title="{{ foto.imagen }}">
                    </a>
                {% endfor %}
            </div>

            <div id="blueimp-gallery-carousel"
                 class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls">
                <div class="slides"></div>
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
            </div>
        </div>
        <div class="col-lg-10 offset-lg-1">
            <h3>QUEBRADA CAUCAYÁ</h3>
            <p style="text-align: justify">
                Es un sitio atractivo por su belleza paisajística, caracterizada por extensos
                bosques de guadua, puentes colgantes y lugares apacibles para disfrutar de un paseo
                campestre. Está localizado a pocos Km de la cabecera municipal, en la vereda
                Chápata, cerca de la vía que conduce a la ciudad de Pereira.
            </p>
            <h1>Algunos Sitios Naturales</h1>
            <p style="text-align: justify">
                <strong>Rosario:</strong>
                 Atractivo natural : Río Risaralda:En esta vereda
                se unen dos fuentes hídricas
                que son el Río Risaralda y el Rio Guatica dando nombre al sector de los Encuentros
            </p>
            <p style="text-align: justify">
                <strong>Bellavista</strong>
                Bosque de protección de microcuenca de la quebrada Tamarbia: Senderos
                ecológicos. Caminata. Avistamiento de aves. Fotografias. :Cuenta con una extensión de
                120 hectáreas de propiedad de la administración municipal.
            </p>

            <p style="text-align: justify">
                <strong> La Florida</strong>
                Bosque de protección. : Senderismo y paisajismo. : Terrenos de propiedad de
                la alcaldía en el predio llamado La Plancha.
                Pablo Blanco: Bosque de protección. :Senderismo. :Terrenos de propiedad de la alcaldía
                en el predio llamado Guacas
            </p>
            <p style="text-align: justify">
                <strong> Nubia Baja</strong>
                Paseo equino. :Punto de partida de recorridos equinos. :recorridos por
                antiguos pasos de arrieros que comunican con las veredas de India y río Cauca.
                Tamarbia: Chapaderos. :Fuente de agua saladas. :Nacimiento de fuente hídrica salada
                ubicada en la finca los Farallones de propiedad de Carlos Alberto Correa en límites con
                el municipio de Guatica.
            </p>
            <p style="text-align: justify">
                <strong>Nubia Alta</strong>
                Bosque de protección. :Avistamiento de aves. :Terrenos de propiedad de la
                alcaldía finca Los Chaparros adicionalmente se cuenta con un grupo de jóvenes que
                integran el Club de avistamiento de aves en la zona.
            </p>
            <p style="text-align: justify">
                <strong>San Pedro</strong>
                Centro Poblado. :Actividades tradicionales del centro poblado cafetero.
                :Cuenta con una calle principal aproximadamente con 10 cuadras con una plazoleta
                principal donde se ubica la mayor parte establecimiento comerciales.
            </p>
            <p style="text-align: justify">
                <strong>La India</strong>
                Pesca Minería Artesanal y Canotaje. :Rio Cauca. :En las laderas del río cauca
                se cuenta con los atractivos naturales para realizar actividades recreativas
                Tumarapo:Atractivo natural. :Sistema montañoso con pendientes inclinadas. :Se ubica en
                los predios de la Finca Media Cuesta
            </p>

        </div>


    </div>
{% endblock %}
{% block javascripts %}
    <!-- JQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-toggle.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>

    <script src="{{ asset('js/blueimp-helper.js') }}"></script>
    <script src="{{ asset('js/blueimp-gallery.js') }}"></script>
    <script src="{{ asset('js/blueimp-gallery-fullscreen.js') }}"></script>
    <script src="{{ asset('js/blueimp-gallery-indicator.js') }}"></script>
    <script src="{{ asset('js/jquery.blueimp-gallery.js') }}"></script>
    {#<script src="{{ asset('js/demo.js') }}"></script>#}

    <script>
        blueimp.Gallery(
                document.getElementById('links').getElementsByTagName('a'),
                {
                    container: '#blueimp-gallery-carousel',
                    carousel: true
                }
        );


    </script>


{% endblock %}
