{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html">
    <link href="{{ asset('css/bootstrap-toggle.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/blueimp-gallery.css') }}">
    <link rel="stylesheet" href="{{ asset('css/blueimp-gallery-indicator.css') }}">
    {#<link rel="stylesheet" href="{{ asset('css/blueimp-gallery-video.css') }}">#}
    <link rel="stylesheet" href="{{ asset('css/demo.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container " style="background-color: rgba(208, 208, 208, 0.51); padding-top: 50px">
        {% set var = 0 %}
        {% for punto in puntos %}
            <h1><a href="{{ path('turismo_turismo_default_view', { 'id': punto.id }) }}">{{ punto.id }} - {{ punto.nombre }}</a></h1>

            {% set var = var + 1 %}
            <div id="links-{{ var }}" class="links">
                {% for foto in punto.fotos %}
                    <a href="{{ asset('uploads/fotos/' ~ foto.imagen ) }}"
                       title="{{ foto.imagen }}">
                        <img width="0%" height="0%"
                             src="{{ asset('uploads/fotos/'~ foto.imagen) }}"
                             title="{{ foto.imagen }}">
                    </a>
                {% endfor %}

            </div>

            <div id="blueimp-gallery-carousel-{{ var }}"
                 class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls">
                <div class="slides"></div>
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
            </div>
            <h3>Descripcion</h3>
            <p>{{ punto.descripcion }}</p>
            <hr class="info-color">
        {% endfor %}


    </div>
{% endblock %}

{% block javascripts %}
    <!-- JQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-toggle.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>

    <script src="{{ asset('js/blueimp-helper.js') }}"></script>
    <script src="{{ asset('js/blueimp-gallery.js') }}"></script>
    <script src="{{ asset('js/blueimp-gallery-fullscreen.js') }}"></script>
    <script src="{{ asset('js/blueimp-gallery-indicator.js') }}"></script>
    {#<script src="{{ asset('js/blueimp-gallery-video.js') }}"></script>#}
    {#<script src="{{ asset('js/blueimp-gallery-vimeo.js') }}"></script>#}
    {#<script src="{{ asset('js/blueimp-gallery-youtube.js') }}"></script>#}
    {#<script src="{{ asset('js/vendor/jquery.js') }}"></script>#}
    <script src="{{ asset('js/jquery.blueimp-gallery.js') }}"></script>
    {#<script src="{{ asset('js/demo.js') }}"></script>#}
{% set inc = 0 %}
    {% for v in puntos %}
        {% set inc = inc + 1 %}
        <script>
            blueimp.Gallery(
                    document.getElementById('links-{{ inc }}').getElementsByTagName('a'),
                    {
                        container: '#blueimp-gallery-carousel-{{ inc }}',
                        carousel: true
                    }
            );
        </script>
    {% endfor %}

{% endblock %}
