{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html">
    <link href="{{ asset('css/bootstrap-toggle.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/blueimp-gallery.css') }}">
    <link rel="stylesheet" href="{{ asset('css/blueimp-gallery-indicator.css') }}">
    {#<link rel="stylesheet" href="{{ asset('css/blueimp-gallery-video.css') }}">#}
    <link rel="stylesheet" href="{{ asset('css/demo.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container" style="background-color: rgba(208, 208, 208, 0.51); padding-top: 50px">
        <h1>{{ punto.id }} - {{ punto.nombre }}</h1>

        <div id="links" class="links">
            {% for foto in punto.fotos %}
                <a href="{{ asset('uploads/fotos/' ~ foto.imagen ) }}" title="{{ foto.imagen }}">
                    <img width="0px" height="0px" src="{{ asset('uploads/fotos/'~ foto.imagen) }}"
                         title="{{ foto.imagen }}">
                </a>
            {% endfor %}
        </div>

        <div id="blueimp-gallery-carousel"
             class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>

        <h3>Descripcion</h3>
        <p>{{ punto.descripcion }}</p>
        {% if punto.nombrePresidente %}
            <h3>Presidente</h3>
            <p>{{ punto.nombrePresidente }}</p>
        {% endif %}
        {% if punto.fechaFundacion %}
            <h3>Fundacion</h3>
            <p>{{ punto.fechaFundacion|date('Y-m-d') }}</p>
        {% endif %}
        {% if punto.historia %}
            <h3>Historia</h3>
            <p>{{ punto.historia }}</p>
        {% endif %}
        {% if punto.nombreCentroEducativo %}
            <h3>Centro Educativo</h3>
            <p>{{ punto.nombreCentroEducativo }}</p>
        {% endif %}
        {% if punto.lugarCultural %}
            <h3>Lugar Cultural</h3>
            <p>{{ punto.lugarCultural }}</p>
        {% endif %}
        {% if punto.actosCulturales %}
            <h3>Actos Culturales</h3>
            <p>{{ punto.actosCulturales }}</p>
        {% endif %}
        {% if punto.delimitacionGeografica %}
            <h3>Limites</h3>
            <p>{{ punto.delimitacionGeografica }}</p>
        {% endif %}
        {% if punto.habitantes %}
            <h3>Habitantes</h3>
            <p>{{ punto.habitantes }}</p>
        {% endif %}
        {% if punto.ruta %}
            <h3>Descripcion del Recorrido</h3>
            {% set route = punto.ruta|split(',') %}
            <div style="width: 100%">
                <div style="width: 100%">
                    <div style="width: 100%">
                        <iframe width="100%" height="600"
                                src="http://www.mapsdirections.info/mapea-mi-ruta/myMap.php?route={{ route.0 }}&amp;width=100%&amp;height=600&amp;hl=en&amp;ie=UTF8&amp;t=&amp;z={{ (route.1 != null) ? route.1 : '13' }}&amp;output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                        </iframe>
                    </div>
                    <br/>
                </div>
                <br/>
            </div>
            <br/>
        {% endif %}
        <br>
        >
    </div>
{% endblock %}
{% block javascripts %}
    <!-- JQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-toggle.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>

    <script src="{{ asset('js/blueimp-helper.js') }}"></script>
    <script src="{{ asset('js/blueimp-gallery.js') }}"></script>
    <script src="{{ asset('js/blueimp-gallery-fullscreen.js') }}"></script>
    <script src="{{ asset('js/blueimp-gallery-indicator.js') }}"></script>
    <script src="{{ asset('js/jquery.blueimp-gallery.js') }}"></script>
    {#<script src="{{ asset('js/demo.js') }}"></script>#}

    <script>
        blueimp.Gallery(
                document.getElementById('links').getElementsByTagName('a'),
                {
                    container: '#blueimp-gallery-carousel',
                    carousel: true
                }
        );


    </script>


{% endblock %}
