{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-toggle.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container" style="background-color: rgba(208, 208, 208, 0.51); margin-top: 50px">
        <h1>Editar Foto</h1>

        {{ form_start(edit_form) }}

        <div class="form-group row">
            {{ form_label(edit_form.imagen, 'Imagen', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(edit_form.imagen) }}
            <div class="col-xs-10">
                {{ form_widget(edit_form.imagen, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(edit_form.descripcion, 'Descripcion', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(edit_form.descripcion) }}
            <div class="col-xs-10">
                {{ form_widget(edit_form.descripcion, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(edit_form.punto, 'Punto Turistico', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(edit_form.punto) }}
            <div class="col-xs-10">
                {{ form_widget(edit_form.punto, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="Save"/>
        {{ form_end(edit_form) }}


        <a style="float: right; margin-bottom: 20px" class="btn btn-info"
           href="{{ path('admin_foto_index') }}">Lista</a>

    </div>
{% endblock %}
{% block javascripts %}
    <!-- JQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-toggle.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>

    <script>
        $(function () {
            $('.toggle').bootstrapToggle({
                on: 'Sí',
                off: 'No',
                onstyle: 'success',
            });
        });
        $(function () {
            $(".date").datepicker({dateFormat: "yy-mm-dd"});

        });
    </script>

{% endblock %}
