{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-toggle.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery.dataTables.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container" style="background-color: rgba(208, 208, 208, 0.51); margin-top: 50px">
        <h1>Lista de Fotos</h1>

        <table id="tablePhotos" class="table table-striped table-sm">
            <thead>
            <tr>
                <th width="5%">Id</th>
                <th width="45%">Descripcion</th>
                <th width="20%">Imagen</th>
                <th width="10%">Aprobado</th>
                <th width="20%">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for foto in fotos %}
                <tr>
                    <td><a href="{{ path('admin_foto_show', { 'id': foto.id }) }}">{{ foto.id }}</a>
                    </td>
                    <td>{{ foto.descripcion }}</td>
                    <td><img width="120" height="120"
                             src="{{ asset('uploads/fotos/' ~ foto.imagen) }}"></td>
                    <td>{% if foto.aprobado %}Yes{% else %}No{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('admin_foto_show', { 'id': foto.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_foto_edit', { 'id': foto.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <a class="btn btn-success" href="{{ path('admin_foto_new') }}">Nuevo</a>
        <br style="clear: both;">
    </div>
{% endblock %}

{% block javascripts %}
    <!-- JQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-toggle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dataTables.bootstrap4.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tablePhotos').DataTable();
        });

        $(function () {
            $('.toggle').bootstrapToggle({
                on: 'Sí',
                off: 'No',
                onstyle: 'success',
            });
        });
        $(function () {
            $(".date").datepicker({dateFormat: "yy-mm-dd"});

        });
    </script>

{% endblock %}
