/*
 * blueimp Gallery Demo CSS
 * https://github.com/blueimp/Gallery
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

/*body {*/
  /*max-width: 750px;*/
  /*margin: 0 auto;*/
  /*padding: 1em;*/
  /*font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;*/
  /*font-size: 1em;*/
  /*line-height: 1.4em;*/
  /*background: #222;*/
  /*color: #fff;*/
  /*-webkit-text-size-adjust: 100%;*/
      /*-ms-text-size-adjust: 100%;*/
/*}*/
a {
  color: orange;
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
}
h1 {
  line-height: 1em;
}
h2,
.links {
  text-align: center;
}

@media (min-width: 481px) {
  .navigation {
    list-style: none;
    padding: 0;
  }
  .navigation li {
    display: inline-block;
  }
  .navigation li:not(:first-child):before {
    content: '| ';
  }
}
