/* YOUR CUSTOM STYLES */

html,
body,
.view {
    height: 100%;
}

.carousel,
.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item:nth-child(1) {
    background-image: url("../img/fondos/todosporunpais.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.carousel-item:nth-child(2) {
    background-image: url("../img/fondos/mintic.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.carousel-item:nth-child(3) {
    background-image: url("../img/fondos/escudo_anserma.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(4) {
    background-image: url("../img/puntos/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*Caption*/

.flex-center {
    color: #fff;
}

@media (min-width: 776px) {
    .carousel .view ul li {
        display: inline;
    }

    .carousel .view .full-bg-img ul li .flex-item {
        margin-bottom: 1.5rem;
    }
}

/* Navigation*/

.navbar {
    background-color: #1C2331;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: transparent;
}

footer.page-footer {
    background-color: #1C2331;
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}

footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #3E4551;
    color: #fff;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
}

footer.page-footer a {
    color: #fff;
}

footer.page-footer .title {
    text-transform: uppercase;
}

footer.page-footer .call-to-action {
    text-align: center;
    padding-top: 1.3rem;
    padding-bottom: 0.5rem;
}

footer.page-footer .call-to-action ul li {
    display: inline-block;
    padding-right: 10px;
}

footer.page-footer .social-section {
    text-align: center;
}

footer.page-footer .social-section ul li {
    display: inline-block;
}


