{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-toggle.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container" style="background-color: rgba(208, 208, 208, 0.51); margin-top: 50px">
        <h1>Modificar Evento</h1>

        {{ form_start(edit_form) }}

        <div class="form-group row">
            {{ form_label(edit_form.nombre, 'Nombre', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(edit_form.nombre) }}
            <div class="col-xs-10">
                {{ form_widget(edit_form.nombre, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(edit_form.descripcion, 'Descripción', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(edit_form.descripcion) }}
            <div class="col-xs-10">
                {{ form_widget(edit_form.descripcion, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(edit_form.fecha, 'Fecha', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(edit_form.fecha) }}
            <div class="col-xs-10">
                {{ form_widget(edit_form.fecha, {'attr': {'class': 'form-control date'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(edit_form.hora, 'Hora', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(edit_form.hora) }}
            <div class="col-xs-10">
                {{ form_widget(edit_form.hora, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(edit_form.punto, 'Lugar', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(edit_form.punto) }}
            <div class="col-xs-10">
                {{ form_widget(edit_form.punto, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <ul>
            <li>
                <input class="btn btn-success" type="submit" value="Edit"/>
            </li>
        </ul>
        {{ form_end(edit_form) }}

        <ul>
            <li>
                <a class="btn btn-info" href="{{ path('admin_evento_index') }}">Back to the list</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- JQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-toggle.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>

    <script>
        $(function () {
            $('.toggle').bootstrapToggle({
                on: 'Sí',
                off: 'No',
                onstyle: 'success',
            });
        });
        $(function () {
            $(".date").datepicker({dateFormat: "yy-mm-dd"});

        });
    </script>

{% endblock %}
