{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-toggle.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery.dataTables.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container" style="background-color: rgba(208, 208, 208, 0.51); margin-top: 50px">
        <h1>Eventos</h1>

        <table id="tableEvents" class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for evento in eventos %}
                <tr>
                    <td>
                        <a href="{{ path('admin_evento_show', { 'id': evento.id }) }}">{{ evento.id }}</a>
                    </td>
                    <td>{{ evento.nombre }}</td>
                    <td>{{ evento.descripcion }}</td>
                    <td>{% if evento.fecha %}{{ evento.fecha|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if evento.hora %}{{ evento.hora|date('H:i:s') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('admin_evento_show', { 'id': evento.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_evento_edit', { 'id': evento.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a class="btn btn-success" href="{{ path('admin_evento_new') }}">Nuevo</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- JQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-toggle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dataTables.bootstrap4.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tableEvents').DataTable();
        });

        $(function () {
            $('.toggle').bootstrapToggle({
                on: 'Sí',
                off: 'No',
                onstyle: 'success',
            });
        });
        $(function () {
            $(".date").datepicker({dateFormat: "yy-mm-dd"});

        });
    </script>
{% endblock %}
