{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-toggle.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container" style="background-color: rgba(208, 208, 208, 0.51); padding-top: 50px">
        <h1>Nuevo Evento</h1>

        {{ form_start(form) }}

        <div class="form-group row">
            {{ form_label(form.nombre, 'Nombre', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(form.nombre) }}
            <div class="col-xs-10">
                {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.descripcion, 'Descripción', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(form.descripcion) }}
            <div class="col-xs-10">
                {{ form_widget(form.descripcion, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.fecha, 'Fecha', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(form.fecha) }}
            <div class="col-xs-10">
                {{ form_widget(form.fecha, {'attr': {'class': 'form-control date'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.hora, 'Hora', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(form.hora) }}
            <div class="col-xs-10">
                {{ form_widget(form.hora, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.punto, 'Lugar', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(form.punto) }}
            <div class="col-xs-10">
                {{ form_widget(form.punto, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>


        <input class="btn btn-success" type="submit" value="Create"/>
        {#<button type="submit" id="evento_addImage" name="evento[addImage]" value="1245" class="btn btn-info">Agregar Imagen</button>#}
        {{ form_end(form) }}


        <a class="btn btn-info" href="{{ path('admin_evento_index') }}">Back to the list</a>

    </div>
{% endblock %}

{% block javascripts %}
    <!-- JQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-toggle.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>

    <script>
        $(function () {
            $('.toggle').bootstrapToggle({
                on: 'Sí',
                off: 'No',
                onstyle: 'success',
            });
        });
        $(function () {
            $(".date").datepicker({dateFormat: "yy-mm-dd"});

        });
    </script>

{% endblock %}
