{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-toggle.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container" style="background-color: rgba(208, 208, 208, 0.51); margin-top: 50px">
        <h1>Evento</h1>

        <table>
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evento.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ evento.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ evento.descripcion }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if evento.fecha %}{{ evento.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Hora</th>
                <td>{% if evento.hora %}{{ evento.hora|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Lugar</th>
                <td><a href="{{ path('admin_punto_show', { 'id': evento.punto.id }) }}">{{ evento.punto.nombre }}</a></td>
            </tr>
            </tbody>
        </table>

        <ul>
            <li>
                <a class="btn btn-info" href="{{ path('admin_evento_index') }}">Back to the list</a>
            </li>
            <li>
                <a class="btn btn-success" href="{{ path('admin_evento_edit', { 'id': evento.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- JQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-toggle.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>

    <script>
        $(function () {
            $('.toggle').bootstrapToggle({
                on: 'Sí',
                off: 'No',
                onstyle: 'success',
            });
        });
        $(function () {
            $(".date").datepicker({dateFormat: "yy-mm-dd"});

        });
    </script>

{% endblock %}
