{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-toggle.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery.dataTables.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container" style="background-color: rgba(208, 208, 208, 0.51); margin-top: 50px">
        <h1>Fotos</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Imagen</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for fotosNaturaleza in fotosNaturalezas %}
                <tr>
                    <td>
                        <a href="{{ path('admin_naturaleza_show', { 'id': fotosNaturaleza.id }) }}">{{ fotosNaturaleza.id }}</a>
                    </td>
                    <td><img width="120" height="120"
                             src="{{ asset('uploads/fotos/' ~ fotosNaturaleza.imagen) }}"></td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('admin_naturaleza_show', { 'id': fotosNaturaleza.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_naturaleza_edit', { 'id': fotosNaturaleza.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('admin_naturaleza_new') }}">Nueva</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- JQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-toggle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dataTables.bootstrap4.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tablePhotos').DataTable();
        });

        $(function () {
            $('.toggle').bootstrapToggle({
                on: 'Sí',
                off: 'No',
                onstyle: 'success',
            });
        });
        $(function () {
            $(".date").datepicker({dateFormat: "yy-mm-dd"});

        });
    </script>

{% endblock %}
