{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fotosnaturaleza</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fotosNaturaleza.id }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ fotosNaturaleza.imagen }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_naturaleza_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_naturaleza_edit', { 'id': fotosNaturaleza.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
