{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-toggle.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container" style="background-color: rgba(208, 208, 208, 0.51); padding-top: 50px">
        <h1>Agregar Foto</h1>

        {{ form_start(form) }}

        <div class="form-group row">
            {{ form_label(form.imagen, 'Imagen', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(form.imagen) }}
            <div class="col-xs-10">
                {{ form_widget(form.imagen, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.descripcion, 'Descripcion', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(form.descripcion) }}
            <div class="col-xs-10">
                {{ form_widget(form.descripcion, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.evento, 'Evento', {'label_attr': {'class' : 'col-xs-2 col-form-label'}}) }}
            {{ form_errors(form.evento) }}
            <div class="col-xs-10">
                {{ form_widget(form.evento, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>


        <input class="btn btn-success" type="submit" value="Create"/>
        {{ form_end(form) }}

        <ul>
            <li>
                <a style="float: right; margin-bottom: 20px" class="btn btn-info"
                   href="{{ path('admin_fotoevento_index') }}">Back to the list</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- JQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-toggle.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>

    <script>
        $(function () {
            $('.toggle').bootstrapToggle({
                on: 'Sí',
                off: 'No',
                onstyle: 'success',
            });
        });
        $(function () {
            $(".date").datepicker({dateFormat: "yy-mm-dd"});

        });
    </script>

{% endblock %}
