{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-toggle.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container" style="background-color: rgba(208, 208, 208, 0.51); margin-top: 50px">
        <h1>Foto</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fotoEvento.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ fotoEvento.descripcion }}</td>
            </tr>
            <tr>
                <th></th>
                <td class="center" colspan="2"><img width="100%" height="80%" src="{{ asset('uploads/fotos/' ~ fotoEvento.imagen) }}">
            </tr>
            <tr>
                <th>Aprobado</th>
                <td>{% if fotoEvento.aprobado %}Si{% else %}No{% endif %}</td>
            </tr>
            </tbody>
        </table>

        <ul>
            <li>
                <a class="btn btn-success" href="{{ path('admin_fotoevento_index') }}">Back to the list</a>
            </li>
            <li>
                <a class="btn btn-info" href="{{ path('admin_fotoevento_edit', { 'id': fotoEvento.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- JQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-toggle.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>

    <script>
        $(function () {
            $('.toggle').bootstrapToggle({
                on: 'Sí',
                off: 'No',
                onstyle: 'success',
            });
        });
        $(function () {
            $(".date").datepicker({dateFormat: "yy-mm-dd"});

        });
    </script>

{% endblock %}
